name: Auto Assign

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - name: Assign to AndriiLandiak
        uses: actions-ecosystem/action-assign@v1
        with:
          assignees: AndriiLandiak